@import 'mixins.scss';

:host {
    pointer-events: none;
    z-index: 9999999;
    user-select: none;

    .review {
        background: white;
        padding: 15px;
        border-radius: 20px;

        position: absolute;
        bottom: 0;
        margin: auto;

        max-width: 90%;

        opacity: 0;
        @include boxShadow(2px 2px 10px 0 #00000020);
        @include animate(reviewAnim 7s ease infinite forwards);

        h3 {
            opacity: .7;
        }

        h1, h2, h3, h4 {
            color: black;
            margin: 0;
        }

        .hearts {
            margin-bottom: 7px;

            i {
                color: red;
                margin-left: 3px;
            }
        }
    }
}


@keyframes reviewAnim {
    0% {
        @include transform(translateY(0));
        opacity: 0;
    }

    20% {
        opacity: .3;
    }

    60% {
        opacity: 1;
    }
    100% {
        @include transform(translateY(calc(-100vh + 100px)));
        opacity: 0;
    }
}