@import 'mixins.scss';

button {
    padding: 7px 10px;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    outline: none;
    user-select: none;
    text-transform: uppercase;
    @include transition(all .2s ease);
    cursor: pointer;
    font-size: 1.3em;
    background-color: black;

    &:hover {
        @include transform(translateY(1px));
        @include boxShadow(2px 2px 7px 0 #9aa100);
        outline: 1px solid yellow;
    }
}