@import 'mixins.scss';

:host {
    display: inline-block;

    .star {
        position: absolute;

        height: 3px;

        background: linear-gradient(269.84deg, rgba(255, 255, 255, 0.12) 0.09%, rgba(217, 217, 217, 0) 85.9%);
        border-radius: 3px;

        @include animate(move 20s ease-out infinite both);
    }
}

@keyframes move {
    0% {
        @include transform(translateX(0));
        opacity: 1;
    }

    85% { opacity: 1 }

    100% {
        @include transform(translateX(100vh));
        opacity: 0;
    }
}