<div class="wrapper">

    <img [src]="sex === 'male' ? '/assets/images/men.svg' : '/assets/images/woman.svg'"  
        alt="OMINO"
        [ngStyle]="{ 
            'animation-duration' : speed,
            'width' : width,
            'left' : left,
            'top' : top,
            'opacity' : opacity
        }">
    <!-- <img src="/assets/images/woman.svg"  
        alt="OMINO"
        [ngStyle]="{ 
            'animation-duration' : speed,
            'width' : width,
            'left' : left,
            'top' : top,
            'opacity' : opacity
        }"> -->
        
</div>