@import 'font.scss';
@import 'mixins.scss';
@import 'layout.scss';
@import 'colors.scss';
@import 'buttons.scss';

body, html {
    margin: 0;
    padding: 0;
}

.cursor-pointer {
    cursor: pointer;
}

[disabled] {
    opacity: .5;
}